[
  {
    "evaluation_type": "React Jest",
    "testcases": [
      {
        "name": "fe_d1_testcase1",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase2",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase3",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase4",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase5",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase6",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase7",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase8",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase9",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase10",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase11",
        "weightage": 0.2
      },
      {
        "name": "fe_d1_testcase12",
        "weightage": 0.2
      }
    ],
    "testcase_run_command": "sh /home/coder/project/workspace/react/react.sh",
    "testcase_path": "/home/coder/project/workspace/react"
  },
  {
    "evaluation_type": "NUnit",
    "testcases": [
      {
        "name": "TestCase1_Cart",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase2_Cart",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase3_Cart",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase4_Order",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase5_Order",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase6_Order",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase7_Product",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase8_Product",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase9_Product",
        "weightage": 0.4
      },
"testcases": [
      {
        "name": "TestCase10_Product",
        "weightage": 0.4
      }
    ],
    "testcase_run_command": "sh /home/coder/project/workspace/nunit/run.sh",
    "testcase_path": "/home/coder/project/workspace/nunit"
  }
]